In [41]:
# 'C:\Users\Samuel\Documents\DATA_FOR_PYTHON\covid-19-country-statistics-dataset.csv'

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


data = r"C:\Users\Samuel\Documents\DATA_FOR_PYTHON\covid-19-country-statistics-dataset.csv"
datanya = pd.read_csv(data)
datanya

,,,,,,,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,Deaths Per 1m Pop,Total Tests,Tests Per 1m Pop,Population
1,USA,"106,613,321","+1,809","1,159,697",35.0,"104,533,271","920,353","1,392","318,434","3,464","1,176,758,558","3,514,755","334,805,269",North America,3,289,0.0,5.0,0.1,"2,749"
2,India,"44,924,811",NaN,"531,424",NaN,"44,335,977","57,410",NaN,"31,938",378,"925,077,322","657,654","1,406,631,776",Asia,31,"2,647",2.0,NaN,NaN,41
3,France,"39,974,426","+6,609","166,425",NaN,"39,669,392","138,609",869,"609,510","2,538","271,490,188","4,139,547","65,584,518",Europe,2,394,0.0,101.0,NaN,"2,113"
4,Germany,"38,400,766",NaN,"172,882",NaN,"38,189,800","38,084",NaN,"457,786","2,061","122,332,384","1,458,359","83,883,596",Europe,2,485,1.0,NaN,NaN,454
5,Brazil,"37,449,418",NaN,"701,494",NaN,"36,249,161","498,763",NaN,"173,897","3,257","63,776,166","296,146","215,353,593",South America,6,307,3.0,NaN,NaN,"2,316"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Tuvalu,"2,805",NaN,NaN,NaN,NaN,"2,805",NaN,"232,471",NaN,NaN,NaN,"12,066",Australia/Oceania,4,NaN,NaN,NaN,NaN,"232,471"
222,Saint Helena,"2,166",NaN,NaN,NaN,2,"2,164",NaN,"354,211",NaN,NaN,NaN,"6,115",Africa,3,NaN,NaN,NaN,NaN,"353,884"
224,Montserrat,"1,403",NaN,8,NaN,"1,376",19,NaN,"282,578","1,611","17,762","3,577,442","4,965",North America,4,621,0.0,NaN,NaN,"3,827"
230,Tokelau,5,NaN,NaN,NaN,NaN,5,NaN,"3,628",NaN,NaN,NaN,"1,378",Australia/Oceania,276,NaN,NaN,NaN,NaN,"3,628"
231,China,"503,302",NaN,"5,272",NaN,"379,053","118,977",NaN,347,4,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9.0,NaN,NaN,82